language: node_js

sudo: required

env:
  - NODE_ENV=development

node_js:
  - "8"
  - "10"
  - "12"

services:
  - redis-server

addons:
  mariadb: '10.4'

matrix:
  fast_finish: true

before_script:
  - sudo systemctl start mariadb
  - sudo mysql -u root < test/ci.sql
  - npm install codecov -g

script:
    - npm run-script build
    - npm run-script lint
    - npm run-script tslint
    - npm run-script test-coverage

after_success:
  - codecov
