language: node_js

node_js:
  - "6"
  - "8"
  - "10"

env:
  - NODE_ENV=development

services:
  - redis-server

before_script:
  - npm run-script lint
  - npm run-script build
script:
  - npm run-script test
