language: node_js

node_js:
  - "12"

sudo: required

git:
  quiet: true

addons:
  sonarcloud:
    organization: "ugamela"
    token:
      secure: $SONAR_TOKEN

cache: npm

env:
  - NODE_ENV=development

stages:
  - audit
  - build
  - test
  - lint
  - documentation
  - deploy

jobs:
  include:
    - stage: audit
      if: type = pull_request
      script: audit-ci --low --report-type full
    - &build
      stage: build
      script: npm run-script build
      node_js: '8'
    - <<: *build
      node_js: '10'
    - <<: *build
      node_js: '12'
    - stage: test
      script:
        - sudo apt-get -qq update
        - sudo apt-get -qq install mariadb-client mariadb-server                       # install mariadb
        - sudo mysql -u root < test/ci.sql                                             # import data-dump
        - npm run-script test-coverage
        - sonar-scanner
    - stage: lint
      script: npm run-script lint
    -
      script: npm run-script tslint
    - stage: documentation
      if: branch = master
      script:
        - gulp doc
        - echo "TODO -> depoy to github pages"
    - stage: deploy to docker hub
      if: type = push AND (branch = master OR branch = development)
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build -t $DOCKER_USERNAME/api:$TRAVIS_BRANCH .
        - docker push $DOCKER_USERNAME/api:$TRAVIS_BRANCH
